# This policy is used to restrict the types of secrets that the controller can create or update.
# It requires the parameter controllerName, controllerNamespace and the list of secret types to allow to be set in the
# ConfigMap admission-policies-secret-sync-controller-config.
# The user must configure:
#   the controllerName and controllerNamespace parameters
#   the list of secret types to allow
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingAdmissionPolicy
metadata:
  name: "secrets-store-sync-controller-create-update-policy"
spec:
  failurePolicy: Fail
  paramKind:
    apiVersion: v1
    kind: ConfigMap
  matchConditions:
    - name: 'user-is-secrets-store-sync-controller'
      expression: "request.userInfo.username == 'system:serviceaccount:'+params.data.controllerNamespace+':'+params.data.controllerName" #'system:serviceaccount:'+params.data.controllerNamespace+':'+params.data.controllerName
  matchConstraints:
    resourceRules:
    - apiGroups:   [""]
      apiVersions: ["v1"]
      operations:  ["CREATE", "UPDATE"]
      resources:   ["secrets"]
  variables:
  - name: hasOneSecretSyncOwner
    expression: "has(object.metadata.ownerReferences) && (size(object.metadata.ownerReferences) == 1 && object.metadata.ownerReferences.all(o, o.kind == 'SecretSync' && o.apiVersion.startsWith('secret-sync.x-k8s.io/') && o.name == object.metadata.name))"
  - name: deniedSecretTypes
    expression: object.type == "kubernetes.io/service-account-token"
  - name: allowedSecretTypes
    expression: object.type in ["Opaque", "kubernetes.io/basic-auth", "bootstrap.kubernetes.io/token", "kubernetes.io/dockerconfigjson", "kubernetes.io/dockercfg", "kubernetes.io/ssh-auth", "kubernetes.io/tls"]
  validations:
  - expression: "variables.deniedSecretTypes == false"
    message: 'Secrets with type "kubernetes.io/service-account-token" are not allowed.'
  - expression: "variables.allowedSecretTypes == true && variables.hasOneSecretSyncOwner == true"
    message: 'Only the following secret types are allowed: "Opaque", "kubernetes.io/basic-auth", "bootstrap.kubernetes.io/token", "kubernetes.io/dockerconfigjson", "kubernetes.io/dockercfg", "kubernetes.io/ssh-auth", "kubernetes.io/tls"'
    messageExpression: "string(params.data.controllerName)  + ' has failed to ' +  string(request.operation) + ' secret with ' + string(object.type) + ' type ' + 'in the ' + string(request.namespace) + ' namespace. The controller can only create or update secrets in the allowed types list with a single secretsync owner.'"
    reason: "Forbidden"
