# This policy validates the configuration of the token that is created by the secret-sync-controller.
# It requires the parameters controllerName, controllerNamespace, token expiration, and token audiences
# to be set in the ConfigMap admission-policies-secret-sync-controller-config.
# The user must configure:
#   the token audiences
#   the controllerName and controllerNamespace parameters
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingAdmissionPolicy
metadata:
  name: "secrets-store-sync-controller-validate-token-policy"
spec:
  failurePolicy: Fail
  paramKind:
    apiVersion: v1
    kind: ConfigMap 
  matchConditions:
    - name: 'userIsController'
      expression: "request.userInfo.username == 'system:serviceaccount:'+params.data.controllerNamespace+':'+params.data.controllerName"
  matchConstraints:
    resourceRules:
    - apiGroups:   [""]
      apiVersions: ["v1"]
      operations:  ["CREATE"]
      resources:   ["serviceaccounts/token"]
  variables:
  - name: expirationSeconds
    expression: "string(object.spec.expirationSeconds) == '600'"
  - name: requestHasOnlyOneAudience
    expression: "object.spec.audiences.size() == 1"
  - name: hasCorrectAudience
    expression: "params.data.exists_one(x, x.startsWith('tokenAudience') && object.spec.audiences.exists(w, w == params.data[x]))" # check any audience exists
  - name: isNodeLocalRequest
    expression: >-
      has(object.spec.boundObjectRef)
      && has(object.spec.boundObjectRef.apiVersion) && object.spec.boundObjectRef.apiVersion == "v1"
      && has(object.spec.boundObjectRef.kind) && object.spec.boundObjectRef.kind == "Node"
      && has(object.spec.boundObjectRef.name)
      && has(object.spec.boundObjectRef.uid)
      && "authentication.kubernetes.io/node-name" in request.userInfo.extra && size(request.userInfo.extra["authentication.kubernetes.io/node-name"]) == 1
      && "authentication.kubernetes.io/node-uid" in request.userInfo.extra && size(request.userInfo.extra["authentication.kubernetes.io/node-uid"]) == 1
      && request.userInfo.extra['authentication.kubernetes.io/node-name'][0] == object.spec.boundObjectRef.name
      && request.userInfo.extra['authentication.kubernetes.io/node-uid'][0] == object.spec.boundObjectRef.uid
  validations:
  - expression: "variables.hasCorrectAudience == true && variables.expirationSeconds == true && variables.requestHasOnlyOneAudience == true && variables.isNodeLocalRequest == true" # if the expression evaluates to false, the validation check is enforced according to the failurePolicy
    message: "'Creating a serviceaccount token has failed because the configuration isn't correct.'"
    messageExpression: "string(params.data.controllerName)  + ' has failed to ' +  string(request.operation) + ' ' + string(request.name) + ' token in the ' + string(request.namespace) + ' namespace.'"
    reason: "Forbidden"
